<br/>
<div class="container">
    <div class="card">
        <h1 class="card-header">Node Chat</h1>
    <div class="card-body">
        <form class="form-horizontal was-validated" method="post" action="/room">
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="inputUsername" class="control-label">ユーザ名</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="ユーザ名" required>
                    <div class="invalid-feedback">ユーザ名を入力してください。</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="inputPassword" class="control-label">パスワード</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="パスワード ※rks" required>
                    <div class="invalid-feedback">パスワードを入力してください。</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-outline-primary" onclick="enter();">入室する</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">Ｂチーム</div>
</div>
</div>
</div>
<script src="/javascripts/index.js"></script>
